@use "../abstracts";

.layout {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    // display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10000;

    animation: fadeIn ease-in-out 0.5s;

    &__btn {
        position: absolute;
        top: 12px;
        right: 12px;
        border-radius: 50%;

        @include abstracts.screen(md) {
            right: 8px;
        }
    }

    &__btn-img {
        padding: 14px;
        border-radius: inherit;
        border: 1px solid #ededed;
        background: #fff;

        &:hover {
            background: rgb(0, 0, 0, 0.1);
        }

        @include abstracts.screen(md) {
            padding: 6px;
        }
    }

    &__inner {
        display: flex;
        height: 396px;
        @include abstracts.screen(lg) {
            height: 320px;
        }

        @include abstracts.screen(md) {
            flex-direction: column;
            height: 100%;
            width: 400px;
        }

        @include abstracts.screen(sm) {
            width: 300px;
        }
    }

    &__img {
        width: 420px;
        object-fit: cover;

        @include abstracts.screen(lg) {
            width: 340px;
        }

        @include abstracts.screen(md) {
            width: 100%;
            height: 250px;
        }

        @include abstracts.screen(sm) {
            height: 176px;
        }
    }

    &__content {
        background: #fff;
        padding: 80px 40px;
        width: 460px;

        @include abstracts.screen(lg) {
            width: 360px;
            padding: 50px 20px;
        }

        @include abstracts.screen(md) {
            width: 100%;
            padding: 25px 20px;
        }
    }

    &__top {
        text-align: center;
    }

    &__sub-heading {
        font-size: 3.2rem;
        line-height: 175%;

        @include abstracts.screen(md) {
            font-size: 2.4rem;
        }
    }

    &__heading {
        font-size: 3.6rem;
        line-height: 155.56%;
        @include abstracts.screen(md) {
            font-size: 3.2rem;
        }
    }

    &__desc {
        text-align: center;
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 171.429%;

        @include abstracts.screen(sm) {
            margin-top: 15px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

// Contact popup
.popup-contact {
    background: #fff;
    padding: 40px 60px;
}

.popup-contact .popup__inner {
    height: 100%;
    text-align: center;
}
