.form {
    &-group {
        display: flex;
        flex-direction: column;
    }

    &-label {
        font-size: 1.6rem;
        line-height: 150%;
    }

    &-control {
        margin-top: 8px;
        padding: 14px 17px;
        font-size: 1.6rem;

        border: 1px solid #e6e6e6;
        background: #fff;

        &::placeholder {
            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &-message {
        margin: 3px 0 13px 17px;
        font-size: 1.2rem;
        line-height: 150%;
    }
}
