<div class="contact-form">
    <div class="container">
        <h2 class="contact-form__heading">Contact us to order and receive purchase advice</h2>

        <div class="form">
            <div class="row row-cols-2 gx-5">
                <div class="col">
                    <div class="form-group">
                        <label for="fullname" class="form-label">Name *</label>
                        <input type="text" name="fullname" id="fullname" placeholder="Name" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>
            </div>

            <div class="row row-cols-2 gx-5">
                <div class="col">
                    <div class="form-group">
                        <label for="telephone" class="form-label">Phone *</label>
                        <input type="tel" name="telephone" id="telephone" placeholder="Phone" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" name="address" id="address" placeholder="Address" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="message" class="form-label">Your message</label>
                <textarea
                    name="message"
                    id="message"
                    placeholder="Example: I want to buy 6 chairs and a table brand Oda ottoman..."
                ></textarea>
                <span class="form-message"></span>
            </div>
        </div>
    </div>
</div>
