<div class="contact-form">
    <div class="container">
        <h2 class="contact-form__heading">
            Contact us to order and <br />
            receive purchase advice
        </h2>

        <form action="https://testapi.demo.wgentech.com/notify.php" class="form" method="POST" id="form-contact">
            <div class="row row-cols-2 row-cols-md-1 gx-5 gx-xxl-4 gx-lg-3">
                <div class="col">
                    <div class="form-group">
                        <label for="name" class="form-label">Name *</label>
                        <input type="text" name="name" id="name" placeholder="Name" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-md-1 gx-5 gx-xxl-4 gx-lg-3">
                <div class="col">
                    <div class="form-group">
                        <label for="phone" class="form-label">Phone *</label>
                        <input type="tel" name="phone" id="phone" placeholder="Phone" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" name="address" id="address" placeholder="Address" class="form-control" />
                        <span class="form-message"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="message" class="form-label">Your message</label>
                <textarea
                    class="form-control form-area"
                    name="message"
                    id="message"
                    placeholder="Example: I want to buy 6 chairs and a table brand Oda ottoman..."
                ></textarea>
                <span class="form-message"></span>
            </div>

            <button type="submit" class="form-submit">Submit now</button>
        </form>

        <!-- reCaptcha -->
        <div id="captcha" class="layout d-none">
            <div class="captcha">
                <div class="captcha__inner">
                    <!-- Google reCaptcha -->
                    <div class="g-recaptcha" data-sitekey="6LfQQowqAAAAAMnDydG3MfZEKvO9WR6GNK_5B7_J"></div>
                    <button id="verifyCaptcha" class="captcha__btn">Verify</button>
                </div>
            </div>
        </div>

        <p class="contact-form__desc">* Required</p>
    </div>
</div>
