<div class="faq">
    <div class="container">
        <h2 class="faq__heading">
            Discover more <span class="faq__heading--separate d-none d-md-block"><br /></span> in our FAQs
        </h2>

        <div class="faq__content">
            <!-- faq item 1-->
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__question">How long does shipping take?</h3>
                    <img src="./assets/icons/minus.svg" alt="faq icon" class="faq__icon" />
                    <img src="./assets/icons/plus.svg" alt="faq icon" class="faq__icon d-none" />
                </div>
                <div class="faq__separate"></div>
                <p class="faq__answer open">
                    Your sales managers will go into the field feeling energized, excited, and inspired. We are a full
                    service business development group – we build strategies and systems.
                </p>
            </div>

            <!-- faq item 2-->
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__question">Does my piece come in any packaging?</h3>
                    <img src="./assets/icons/minus.svg" alt="faq icon" class="faq__icon d-none" />
                    <img src="./assets/icons/plus.svg" alt="faq icon" class="faq__icon" />
                </div>
                <div class="faq__separate"></div>
                <p class="faq__answer">
                    Yes, all our products come in protective and aesthetically pleasing packaging to ensure they arrive
                    in perfect condition. Each product is securely wrapped, and we use eco-friendly materials whenever
                    possible. Additionally, many of our products come in recyclable containers to support
                    sustainability.
                </p>
            </div>

            <!-- faq item 3-->
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__question">Do you ship internationally?</h3>
                    <img src="./assets/icons/minus.svg" alt="faq icon" class="faq__icon d-none" />
                    <img src="./assets/icons/plus.svg" alt="faq icon" class="faq__icon" />
                </div>
                <div class="faq__separate"></div>
                <p class="faq__answer">
                    Yes, we do ship internationally! We offer worldwide shipping to ensure customers around the globe
                    can enjoy our products. Please note that shipping times and costs may vary depending on the
                    destination country. International customers may also be subject to customs fees or import duties
                    imposed by their country's customs authorities.
                </p>
            </div>

            <!-- faq item 4-->
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__question">What payment methods do you accept?</h3>
                    <img src="./assets/icons/minus.svg" alt="faq icon" class="faq__icon d-none" />
                    <img src="./assets/icons/plus.svg" alt="faq icon" class="faq__icon" />
                </div>
                <div class="faq__separate"></div>
                <p class="faq__answer">
                    We accept a variety of payment methods to make your shopping experience convenient. These include
                    credit cards (Visa, Mastercard, American Express), PayPal, and, in some regions, alternative payment
                    methods such as Apple Pay or Google Pay. Rest assured, your payment information is secure and
                    protected during the checkout process.
                </p>
            </div>

            <!-- faq item 5-->
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__question">What should I do if my order is not placed?</h3>
                    <img src="./assets/icons/minus.svg" alt="faq icon" class="faq__icon d-none" />
                    <img src="./assets/icons/plus.svg" alt="faq icon" class="faq__icon" />
                </div>
                <div class="faq__separate"></div>
                <p class="faq__answer">
                    We’re sorry to hear that you’re unable to place an order. Please contact Customer Service and we
                    will work on resolving the issue as quickly as possible
                </p>
            </div>
        </div>
    </div>
</div>
