<div id="popup__newsletter-layout" class="layout">
    <div class="popup popup-newsletter">
        <button id="popup__btn" class="popup__btn">
            <img src="./assets/icons/close.svg" class="popup__btn-img" alt="close" />
        </button>
        <div class="popup-contact">
            <div class="popup__inner">
                <h3 class="popup__sub-heading">
                    Oops! An error occurred. <br />
                    Please check your information and try again.
                </h3>
            </div>
        </div>
    </div>
</div>
