<div id="popup__layout" class="layout d-none">
    <div class="popup">
        <button id="popup__btn" class="popup__btn">
            <img src="./assets/icons/close.svg" class="popup__btn-img" alt="close" />
        </button>
        <div class="popup__inner">
            <img src="./assets/images/popup/popup-01.png" alt="popup 01" class="popup__img" />
            <div class="popup__content">
                <div class="popup__top">
                    <h3 class="popup__sub-heading">Big Sale</h3>
                    <h2 class="popup__heading">
                        Up to 50% Off <br />
                        Black Friday
                    </h2>
                </div>
                <p class="popup__desc">Applicable to all products <br />from Nov 25 to Nov 29</p>
            </div>
        </div>
    </div>
</div>
